.chat-box {
    z-index: 2;
    position: fixed;
    top: 100vh;
    left: 100vw;
    transform: translate(-190%,-160%);
    width: 5rem;
    aspect-ratio: 1/1;
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        @include transitionTransform();
        &:hover {
            transform: scale(1.4);
            @include transitionTransform();
        }
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        position: absolute;
        bottom: 130%;
        right: 0;
        width: 80vw;
        max-width: 40rem;
        height: 60rem;
        background-color: $secondary-color;
        border-radius: 1rem;
        overflow: hidden;
    }
    &__header {
        width: 100%;
        height: auto;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-chat-box-color;
    }
    &__button {
        padding: 1rem 2rem;
        display: flex;
        gap: 1rem;
        border-radius: 1.5rem;
        border: none;
        cursor: pointer;
        background-color: $secondary-chat-box-color;
        color: $text-white;
        @include m-button-3();
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
}