.chat-box {
    z-index: 2;
    position: fixed;
    top: 100vh;
    left: 100vw;
    transform: translate(-190%,-210%);
    width: 5rem;
    aspect-ratio: 1/1;
    @include respond-to('medium'){
        transform: translate(-190%,-160%);
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        @include transitionTransform();
        &:hover {
            transform: scale(1.2);
            @include transitionTransform();
        }
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        position: absolute;
        bottom: 130%;
        right: 0;
        width: 80vw;
        max-width: 40rem;
        height: 60rem;
        background-color: $secondary-color;
        border-radius: 1rem;
        opacity: 100;
        &--hidden {
            display: none;
            opacity: 0;
        }
    }
    &__header {
        width: 100%;
        height: auto;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-chat-box-color;
        border-radius: 1rem 1rem 0 0;
        background-image: radial-gradient(circle at center center, $secondary-chat-box-color, $secondary-color), repeating-radial-gradient(circle at center center, $primary-chat-box-color, $primary-chat-box-color, 10px, transparent 20px, transparent 10px);
        background-blend-mode: multiply;
    }
    &__button {
        position: relative;
        padding: 1rem 2rem;
        display: flex;
        gap: 1rem;
        border-radius: 1.5rem;
        border: none;
        cursor: pointer;
        background-color: $secondary-chat-box-color;
        color: $text-white;
        @include m-f-3();
        &:hover{
            .chat-box__advise-clear {
                display: block;
            }
        }
    }
    &__advise-clear {
        display: none;
        position: absolute;
        width: 200%;
        bottom: 100%;
        left: 0;
        transform: translateX(-25%);
        margin-bottom: 1rem;
        background-color: $secondary-chat-box-color;
        padding: 1rem;
        border-radius: 1rem;
        p {
            text-align: justify;
        }
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
    &__comunication {
        height: 100%;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: stretch;
        overflow-y: auto;
    }
    &__text-box{
        width: 100%;
        height: auto;
        display: flex;
        &--left {
            justify-content: start;
        }
        &--right {
            justify-content: end;
        }
    }
    &__answer  {
        padding: 1rem;
        border-radius: 1.5rem;
        width: fit-content;
        max-width: 70%;
        @include m-f-3();
        &--blue  {
            background-color: $secondary-chat-box-color;
            color: $text-white;
            cursor: pointer;
        }
        &--text-end {
            text-align: end;
        }
    }
    &__send-message {
        padding: 1rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        @include m-f-3();
        label {
            height: 100%;
            flex-grow: 1;
            input {
                width: 100%;
                height: 100%;
                padding: 0 1rem;
                border: none;
                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }
        i {
            cursor: pointer;
            padding: 0.8rem 1rem;
            color: $text-white;
            border-radius: 1rem;
            background-color: $secondary-chat-box-color;
        }
    }
}