.reconomiento {
    width: 100%;
    margin: 4rem 0;
    padding: 3rem 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    &__content{
        text-align: center;
        color: $text-white;
        @include m-h-4();
    }
    &__parners{
        display: flex;
        gap: 2rem;
    }
    &__img{
        height: 6rem;
        @include respond-to('medium'){
            height: 9rem;
        }
    }
}